.worktrees
target/
.idea/
*.iml
node_modules/
dist/

#Added manually
.DS_Store
.claude/
.vscode/
.terraform/
/doc-manually/Smart Invest User Guide_en-US.pdf
/doc-manually/Smart_invest_Develop_prompt_v2.txt
/doc-manually/Smart_invest_Develop_prompt_v3_minimx.txt

#For Python venv
venv/
2026-04-08-aws-deployment-plan-aa.md
2026-04-08-aws-deployment-plan-prototype.md
