.worktrees
target/
.idea/
*.iml
node_modules/
dist/

#Added manually
.DS_Store
.claude/
.vscode/
docs/
.terraform/
/doc-manually/Smart Invest User Guide_en-US.pdf
/doc-manually/Smart_invest_Develop_prompt_v2.txt
/doc-manually/Smart_invest_Develop_prompt_v3_minimx.txt

#For Python venv
venv/
